* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 19px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main style */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 38px, bottom right;
}

nav {
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav .manu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .manu a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    color: black;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 87px;

}

#banner .banner-content p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-imag img {
    max-width: 586px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
}

#about .about-contain {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}

#about .about-contain .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;

}

.about-info .info-card h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #474747;
}

#skill {
    padding-top: 130px;
}

#skill .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skill .skill-container .skill-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000001f;
    max-width: 267px;

}

.skill-card img {
    max-width: 44px;
    margin-bottom: 20px;

}

.skill-card h4 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;

}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 116px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container h2 {
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
    margin-bottom: 30px;
    color: #474747;
}

.footer-container .social .icon a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    margin-bottom: 24px;
    padding: 18px 31px;
    border: none;
    border-radius: 5px;
}